html {
  scroll-behavior: smooth;
  background-color: #F6D8AE;
  background-image: url(../graphics/woodBackgroundDark.jpg);
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/dosis-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/dosis-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  max-width: 1500px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  font-family: 'Yanone Kaffeesatz';
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.5;
}

form {
  margin-bottom: 0px;
  width: 100%;
}

iframe {
  border: none;
}

label,
h1,
h2,
h3,
h4,
li,
p,
a {
  color: #f06543;
  font-family: 'Yanone Kaffeesatz';
}

h2 {
  letter-spacing: 4px;
}

.button {
  text-align: center;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  cursor: pointer;
}

.picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.frameRowMulti {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.frameColumnMulti {
  display: flex;
  flex-flow: column wrap;
}

.frame {
  display: block;
  border: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080f17;
}

::-webkit-scrollbar-thumb {
  background: #fdfffc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

#navbar {
  z-index: 10;
  display: flex;
  width: 20%;
  height: 120px;
  flex-flow: wrap;
  justify-content: flex-end;
  margin-top: 200px;
}

.sticky {
  position: sticky;
  top: 0;
}

.linkTo,
.start {
  width: 100%;
  height: 30px;
  min-width: 100px;
  max-width: 180px;
  margin: 10px;
  padding: 5px 10px 7px 10px;
  border-radius: 30px;
  text-decoration: none;
}

.linkTo {
  color: #70A9A1;
}

.start {
  border: 2px solid #70A9A1;
  color: #70A9A1;
}

.linkTo:hover {
  background-color: #70A9A1;
  color: #050505;
}

.start:hover {
  background-color: #70A9A1;
  color: #050505;
}

.responsiveMenu {
  display: none;
}

.dropMenu {
  margin: 1%;
  padding: 10px 10px 12px 10px;
  background-color: #ffd8ad;
  text-decoration: none;
  border-radius: 40px;
  border-color: #ffd8ad;
  border-style: solid;
  border-width: 1.5px;
  color: black;
}

.dropMenu:hover {
  color: white;
  background-color: #0a141f;
}

.menuContent {
  display: none;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.droppedLink {
  width: 98%;
  float: right;
  margin: 2px 1%;
  padding: 12px 0px;
  border-radius: 40px;
  background-color: #080f17;
  text-decoration: none;
}

.droppedLink:hover {
  background-color: #0a141f;
}

.drop {
  display: flex;
}

@media all and (max-width: 1300px) {
  .linkTo,
  .start {
    width: 14vw;
    min-width: 100px;
    margin: 1vw;
  }
}

@media all and (max-width: 620px) {
  #navbar {
    width: 100%;
  }

  .linkTo,
  .start {
    display: none;
  }

  .responsiveMenu {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .menuPicture {
    display: none;
  }
}

/* header */

.headerPictureFrame {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-image: url(../graphics/TitleLogo.svg);
}

@media all and (max-width: 620px) {
  .headerPictureFrame {
    width: 100%
  }

  .headerTextSlim {
    font-size: 30px;
    letter-spacing: 15px;
  }

  .scrollToAboutMe {
    width: 100%;
    margin: 0px;
    padding: 15px 0;
  }

  .headerPicture {
    width: 100%;
    height: 40vw;
  }
}

@media all and (max-width: 1400px) {
  .headerText {
    display: none;
  }

  .headerTextSlim {
    display: block;
  }
}

/* content */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 20%;
  overflow: hidden;
  background-color: rgb(5,5,5, 0.5);
}

.contentSite {
  display: flex;
  width: 100%;
  min-height: 70vh;
  height: max-content;
  padding: 5px 20%;
  overflow: hidden;
}

.wrap {
  flex-flow: row wrap;
}

.wrapReverse {
    flex-flow: row wrap-reverse;
}

.withBackgroundColor {
  /*background: rgb(25,10,8,0.8);*/
}

.pictures {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  height: max-content;
}

.bannerAboutMe {
  margin-top: 50px;
  width: 100vw;
  height: 6vw;
  max-height: 80px;
  font-size: 20px;
  color: #190a08;
  background-image: url(../graphics/BannerAboutMe.svg);
  text-align: center;
}

.bannerPrices {
  margin-top: 50px;
  width: 100%;
  height: 6vw;
  max-height: 80px;
  font-size: 20px;
  color: #190a08;
  background-image: url(../graphics/BannerPrices.svg);
  text-align: center;
}

.contentPicture {
  display: flex;
  margin: 5px;
}

.contentText {
  height: auto;
  display: block;
  flex-flow: column wrap;
  margin: 20px;
}

.aboutMeText,
.priceText {
  width: 100%;
}

.picture1 {
  background-image: url(../graphics/aboutMePicture.jpg);
  height: 300px;
  width: 48%;
}

.picture2 {
  background-image: url(../graphics/Friseur.jpg);
  height: 300px;
  width: 48%;
}

.picture3 {
  background-image: url(../graphics/FriseurGeraete.jpg);
  height: 300px;
  width: 48%;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.contentImprint {
  height: 80vh;
}

.emailFrame,
.nameFrame,
.subjectFrame {
  width: 32%;
  margin: 10px 0px;
}

.messageFrame {
  width: 100%;
  margin: 10px 0px;
}

.pot {
  display: none;
}

.email,
.message,
.name,
.subject,
.submit {
  background-color: rgba(0,0,0,0);
  padding: 5px 10px;
  border: 2px solid #70A9A1;
  border-radius: 5px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  font-weight: 500;
  color: #fdfffc;
}

.email,
.name,
.subject {
  max-width: 100%;
  height: 45px;
}

.message {
  max-width: 100%;
  height: 400px;
  padding-top: 10px;#
}

.submit {
  width: 304px;
  height: 45px;
  float: right;
  margin: 10px 0px;
  color: #70A9A1;
  border: 2px solid #70A9A1;
  border-radius: 45px;
}

.submit:hover {
  background: #70A9A1;
  color: #050505;
}

.returnMsg {
  color: #fdfffc;
}

@media all and (max-width: 1500px) {
  .emailFrame,
  .nameFrame {
    width: 47%;
  }

  .subjectFrame {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  .contentText,
  .contentPicture {
    width: 100%
  }

  .emailFrame,
  .nameFrame,
  .subjectFrame {
    width: 100%;
  }
}

@media all and (max-height: 1000px) {
  .message {
    height: 200px;
  }
}

/* @media all and (max-width: 880px) {
  #aboutMeText,
  #skidCatText,
  #bearText,
  #aboutMePicture,
  #skidCatPicture,
  #bearPicture {
    width: 100%;
  }

  .content {
    height: max-content;
    padding: 50px 0px;
  }

  .submit {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
} */

/* footer */

.footer {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.footerPartFrame {
  display: flex;
  width: 280px;
  margin: 10px 20px;
  flex-direction: column;
}

.footerPicture {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0px auto;
  padding-top: 40px;
}

.footerText {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.footerCopyright {
  width: 100%;
  color: white;
  background-color: #70A9A1;
  text-align: center;
  font-size: 14px;
}

#cookiePopup {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 250px;
  padding: 20px;
  color: #fdfffc;
  background: #080f17;
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  font-size: 16px;
  line-height: 25px;
}

.cookieButton {
  width: 230px;
  height: 50px;
  padding: 5px 60px;
  border-radius: 50px;
  font-size: 20px;
  color: #fdfffc;
  background-color: #124559;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cookieButton:hover {
  background-color: #154848;
  color: white;
}

@media all and (max-width: 880px) {
  .footer {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
  }

  .footerPartFrame {
    display: flex;
    width: 250px;
    margin: 10px auto;
    flex-direction: column;
  }
}
