html {
  scroll-behavior: smooth;
  background-color: white;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../fonts/dosis-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/dosis-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  font-family: 'Yanone Kaffeesatz';
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.5;
}

form {
  margin-bottom: 0px;
  width: 100%;
}

iframe {
  border: none;
}

label,
h1,
h2,
h3,
h4,
li,
p,
a {
  color: black;
  font-family: 'Yanone Kaffeesatz';
}

h2 {
  letter-spacing: 4px;
}

.button {
  text-align: center;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  cursor: pointer;
}

.picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.frameRowMulti {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.frameColumnMulti {
  display: flex;
  flex-flow: column wrap;
}

.frame {
  display: block;
  border: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080f17;
}

::-webkit-scrollbar-thumb {
  background: #fdfffc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* navbar */

#navbar {
  z-index: 10;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 0vh;
  background-color: white;
}

.sticky {
  position: sticky;
  top: 0;
}

.linkTo,
.start {
  width: 180px;
  height: 30px;
  margin: 10px;
  padding: 5px 10px 7px 10px;
  border-radius: 30px;
  text-decoration: none;
}

.linkTo {
  color: black;
}

.start {
  border: 2px solid black;
  color: black;
}

.linkTo:hover {
  background-color: #70A9A1;
  color: #050505;
}

.start:hover {
  background-color: #70A9A1;
  color: #050505;
}

.responsiveMenu {
  display: none;
}

.dropMenu {
  padding: 10px 10px 12px 10px;
  text-decoration: none;
  color: #050505;
}

.dropMenu:hover {
  color: #050505;
  background-color: #70A9A1;
}

.menuContent {
  display: none;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.droppedLink {
  width: 98%;
  float: right;
  padding: 12px 0px;
  text-decoration: none;
}

.droppedLink:hover {
  background-color: #70A9A1;
  color: #050505;
}

.drop {
  display: flex;
}

@media all and (max-width: 1300px) {

  .navbarSite {
    background-color: white;
  }

  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .linkTo,
  .start {
    width: 14vw;
    min-width: 180px;
    margin: 1vw;
  }
}

@media all and (max-width: 620px) {
  #navbar {
    width: 100%;
  }

  .linkTo,
  .start {
    display: none;
  }

  .responsiveMenu {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}

/* header */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

header .headerContent {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  align-content: center;
  justify-content: center;
  height: 100%;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0,0.5);
  z-index: 1;
}

.headerPicture {
  height: 20vh;
  background-image: url(../graphics/LogoSimple.svg);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 20vh;
  margin-right: 25%;
  margin-left: 5%;
}

.headerPartFrame {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 400px;
  height: 150px;
  border: 2px solid #f6d8ae;
}

.whiteCenterText {
  text-align: center;
  color: white;
}

@media all and (max-width: 1300px) {
  .headerSite {
    display: none;
  }

  .header {
    margin: auto;
    height: 20vh;
    margin: 0%;
    align-items: center;
    justify-content: center;
  }

  .headerPartFrame {
    width: 30%;
    height: 150px;
  }
}

@media all and (max-width: 1000px) {

}

@media all and (max-width: 420px) {
  .headerPartFrame {
    width: 90%;
    min-width: 300px;
  }
}

/* content */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5vh 20%;
  overflow: hidden;
}

.contentSite {
  display: flex;
  width: 100%;
  min-height: 70vh;
  height: max-content;
  padding: 5px 20%;
  overflow: hidden;
  background-color: rgb(5,5,5, 0.7);
}

.wrap {
  flex-flow: row wrap;
}

.wrapReverse {
    flex-flow: row wrap-reverse;
}

.withBackgroundColor {
  background: #70A9A1;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.bannerAboutMe {
  margin: 5vh;
  width: 100vw;
  height: 6vh;
  max-height: 80px;
  background-image: url(../graphics/BannerAboutMe.svg);
}

.bannerPrices {
  margin: 5vh;
  width: 100%;
  height: 6vh;
  max-height: 80px;
  background-image: url(../graphics/BannerPrices.svg);
}

.contentPicture {
  display: flex;
  margin: 5px;
}

.contentText {
  height: auto;
  display: block;
  flex-flow: column wrap;
  margin: 20px;
  max-width: 1000px;
}

.aboutMeText,
.priceText {
  width: 100%;
}

.picture1,
.picture2,
.picture3,
.picture4 {
  height: 15vw;
  width: 26.6vw;
  max-width: 490px;
  max-height: 280px;
}

.picture1 {
  background-image: url(../graphics/picture1.jpg);
}

.picture2 {
  background-image: url(../graphics/picture2.jpg);
}

.picture3 {
  background-image: url(../graphics/picture3.jpg);
}

.picture4 {
  background-image: url(../graphics/picture4.jpg);
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  padding: 20px;
  max-width: 1000px;
}

.contentImprint {
  height: 80vh;
}

.emailFrame,
.nameFrame,
.subjectFrame {
  width: 32%;
  margin: 10px 0px;
}

.messageFrame {
  width: 100%;
  margin: 10px 0px;
}

.label {
  color: #f06543;
}

.pot {
  display: none;
}

.email,
.message,
.name,
.subject,
.submit {
  background-color: white;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  font-weight: 500;
  color: #fdfffc;
}

.email,
.name,
.subject {
  max-width: 100%;
  height: 45px;
}

.message {
  max-width: 100%;
  height: 400px;
  padding-top: 10px;#
}

.submit {
  width: 304px;
  height: 45px;
  float: right;
  margin: 10px 0px;
  color: black;
  border: 2px solid white;
  border-radius: 45px;
}

.submit:hover {
  background: #70A9A1;
  color: #050505;
  border-color: white;
}

.returnMsg {
  color: #fdfffc;
}

@media all and (max-width: 1500px) {
  .emailFrame,
  .nameFrame {
    width: 47%;
  }

  .subjectFrame {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  .bannerAboutMe {
    margin: 2vh;
  }

  .bannerPrices {
    margin: 2vh;
  }

  .contentText,
  .contentPicture {
    width: 100%
  }

  .emailFrame,
  .nameFrame,
  .subjectFrame {
    width: 100%;
  }

  .contentSite {
    display: flex;
    width: 100%;
    min-height: 50vh;
    height: max-content;
    padding: 5px 20px;
    overflow: hidden;
    background-color: rgb(5,5,5, 0.7);
  }
}

@media all and (max-height: 1000px) {
  .message {
    height: 200px;
  }
}

@media all and (max-width: 880px) {
  #aboutMeText,
  #pricesText {
    width: 100%;
  }

  .content {
    height: max-content;
    padding: 50px 0px;
  }

  .submit {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}

/* footer */

.footer {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.footerPartFrame {
  display: flex;
  width: 280px;
  margin: 10px 20px;
  flex-direction: column;
  height: 230px;
}

.footerPicture {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0px auto;
  padding-top: 40px;
}

.footerText {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

.footerTextColor {
  color: #f06543;
}

.footerCopyright {
  width: 100%;
  color: white;
  background-color: #70A9A1;
  text-align: center;
  font-size: 14px;
}

@media all and (max-width: 880px) {
  .footer {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
  }

  .footerPartFrame {
    display: flex;
    width: 250px;
    margin: 10px auto;
    flex-direction: column;
  }
}
